* {
    margin: 1px;
    padding: 1px;
  }

  body{
    background-color: #2a2f33;
  }


  main{
    display: grid;
    height: 100vh;
    width: 100%;
    gap: 1% 1%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: Document 1fr 1fr 1fr;
    grid-template-areas:
     "header header header "
     "contTitle contTitle contTitle"
     "ajusco izta chapul";
  }
  
  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    flex-direction: column;
    grid-area: header;
  }

  img{
    display: flex;
    margin: 40px;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    border-radius: 225px;
    box-shadow:  10px 12px 90px 12px  rgba(8, 216, 39, 0.60);
  }

  #contTitle {
    grid-area: contTitle;
    margin: 10px;
    padding: 10px;
  }

  #ajusco {
    grid-area: ajusco;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 40px 40px 340px;
    border-radius: 225px;
  }

  #izta {
    grid-area: izta;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 225px;
  }

  #chapul {
    grid-area: chapul; 
    display: flex;
    flex-direction: column;
    padding: 10px 340px 40px 40px;
    align-items: center;
    border-radius: 225px; 
  }

  #sAju{
    border-radius: 225px;
    box-shadow:  1px 1px 99px 40px rgb(209 65 154); 
    }
    #sIzt{
      border-radius: 225px;
      box-shadow:  1px 1px 99px 40px rgb(72 124 227);
    }  
    #sCha {
      border-radius: 225px;
      box-shadow:  1px 1px 99px 25px rgb(186 205 78);
    }

  h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Stick No Bills', sans-serif;
    text-shadow: 15px 15px 2px rgb(1, 1, 1);
    font-size: 3em;
  }

  h2{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 1.6em;
  }