* {
    margin: 1px;
    padding: 1px;
  }

  body{
    background-color: #000000;
  }


  main{
    display: grid;
    height: 100vh;
    width: 100%;
    gap: 1% 1%;
    grid-template-columns: 1fr ;
    grid-template-rows: Document 1fr 1fr 1fr;
    grid-template-areas:
     " header header header "
     " contTitle contTitle contTitle "
     " contListas contListas contListas";
  }
  
  header {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #logo{
    grid-area: header;
    display: flex;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    border-radius: 220px;
    box-shadow: 10px 10px 90px 29px #fffffff3;
  }

  #contTitle {
    grid-area: contTitle;
    margin: 0px;
    padding: 0px;
  }

  #contListas {
    grid-area: contListas;
    padding-bottom: 40px;
  }

  #divPer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #divPro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #divRela {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #divFam {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  #divSalud {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }


  h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 9.5em;
    font-family: 'Stick No Bills', sans-serif;
    text-shadow: 10px 10px 3px rgba(3, 3, 3, 0.8);
  }

  h2{
    text-align: center;
    font-family: 'Days One', sans-serif;
    font-size: 1.5em;
  }

  button{
    width: 40em;
    margin-top: 10px;
    grid-area: entrar;
    border-radius: 15px;
    font-family: 'Days One', sans-serif;
    box-shadow: 0px 0px 30px 2px #ffffffb3;
  }

  .btn,
  .btn-outline-info, 
  .btn-outline-primary,
  .btn-outline-success,
  .btn-outline-warning,
  .btn-outline-danger {
    width: 40em;
    margin-top: 10px;
    grid-area: entrar;
    border-radius: 15px;
    font-family: 'Days One', sans-serif;
    box-shadow: 0px 0px 30px 2px #ffffffb3;
    color: #000000;
    background-color:#ffffff;
    border-color:#000000;
  }

  @media only screen and (max-width: 550px){
    
    main{
      display: grid;
      height: 100vh;
      width: 100%;
      gap: 1% 1%;
      grid-template-columns: 1fr ;
      grid-template-rows: Document 1fr 1fr 1fr;
      grid-template-areas:
       " header header header "
       " contTitle contTitle contTitle "
       " contListas contListas contListas";
    }

    #logo {
      height: 39vh;
        margin: 5px;
        border-radius: 225px;
      }

      #contListas {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 225px; 
        padding: 3px;
      } 

      #contTitle{
        margin: 0;
        padding: 0;
      }

    header {
        height: 40vh; 
    }

    h1{
      font-size: 2.6em;
    }

    h2{
      font-size: 1em;
      margin-bottom: 0;
    }


    .btn,
    .btn-outline-info, 
    .btn-outline-primary,
    .btn-outline-success,
    .btn-outline-warning,
    .btn-outline-dark {
      width: 18em;
    }

  }