* {
    margin: 1px;
    padding: 1px;
  }
  
  body {
    background-image: url(../assets/img/bgs.jpg);
  }
  
  main {
    display: grid;
    height: 100vh;
    width: 100%;
    gap: 1% 1%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      " header "
      " prop "
      "footer";
  }

  header {
    grid-area: header;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #logo{
    display: flex;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    border-radius: 180px; 
  }

  #btnDone{
    color: #fff;
    background-color: #ff0062;
    border-color: #ff000d;
  }

  .i{
    height: 50vh;
  }

  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
  }
  

  #prop {
    grid-area: prop;
    background-color: transparent;
    border-radius: 10px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  #topModal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  #contTable{
    grid-area: table;
  }

  footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
  }



  h1,h2{
    color: rgb(255, 255, 255);
    font-family: 'Stick No Bills', sans-serif;
  }

  h3{
    color: #000000;
    font-family: 'Days One', sans-serif;
  }

  #lista{
    justify-content: center;
    align-items: center;
    margin: 1vh;
    align-items: center;
  }

  #botones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1vh;
    align-items: center;
  }

  .btn-outline-warning,
  .btn-outline-danger {
    margin-top: 10px;
    grid-area: entrar;
    border-radius: 15px;
    font-family: 'Days One', sans-serif;
    box-shadow: 0px 0px 20px 2px #ffffffb3;
    
  }

  #btnP{
    font-family: 'Days One', sans-serif;
    box-shadow: 0px 0px 30px 2px #ffffffb3;
  }

  #btnP1{
    background-color: #ffc107;
  }
  #btnP2{
    color: #dc3545;
  }

  .input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: center;
    width: 41vh;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: stretch;
    
  }

  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media only screen and (max-width: 300px) {
  img {
     height: 10vh;
     margin-top: 2px;
   }

   #footer {
    margin-top: 2px;
  }
 }

