* {
    margin: 1px;
    padding: 1px;
  }
  
  body {
    background-image: url(../assets/imágenes/);
  }
  
  main {
    display: grid;
    height: 100vh;
    width: 100%;
    gap: 1% 1%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      " header "
      " prop "
      "footer";
  }

  header {
    grid-area: header;
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }

  #prop {
    grid-area: prop;
    background-color: transparent;
    border-radius: 10px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  #topModal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  #contTable{
    grid-area: table;
  }

  footer {
    grid-area: footer;
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }

  #lista{
    justify-content: center;
    align-items: center;
    margin: 1vh;
    align-items: center;
  }

  #botones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1vh;
    align-items: center;
  }

  .input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: center;
    width: 41vh;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: stretch;
    
  }

  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


